@import "tailwindcss";
@import "katex/dist/katex.min.css";

/* Custom utility for clean scrollbars and smooth page transitions */
html {
  scroll-behavior: smooth;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

.katex-display {
  margin: 0.75em 0 !important;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.25rem 0;
}

